// SPDX-License-Identifier: Apache-2.0
// Copyright 2026 Colin Chang. Based on ClearVision v7 by ClearVision Team (Apache-2.0).
// These get left in a nice, neat location.
$version: '1.0.0';
$themeName: 'NomadNexus';
$author: 'Colin Chang';
$desc: 'Discord, but beautiful. An elegant theme by a-nomad studio for BetterDiscord & Vencord.';
$desc_bd: 'for BetterDiscord.';
$desc_vc: 'for Vencord.';
$desc_generic: 'for BetterDiscord and Vencord.';
$src: 'https://github.com/colin-chang/NomadNexus';
$website: 'https://cdn.jsdelivr.net/gh/colin-chang/NomadNexus@#{$version}';
$upstream: 'Based on ClearVision v7 by ClearVision Team — https://github.com/ClearVision/ClearVision-v7';
$invite: '';

$main_import: 'main.css'; // Base import filename
$bd_import: 'betterdiscord.css'; // BetterDiscord's import filename
$vc_import: 'vencord.css'; // Vencord's import filename