// These get left in a nice, neat location.
$version: '1.0.0';
$themeName: 'NomadNexus';
$author: 'Colin Chang';
$desc: 'Frosted glass Discord theme';
$desc_bd: 'for BetterDiscord.';
$desc_vc: 'for Vencord.';
$desc_generic: 'for BetterDiscord and Vencord.';
$src: 'https://github.com/colin-chang/NomadNexus';
$website: 'https://colinchangcc.github.io/NomadNexus';
$invite: '';

$main_import: 'main.css'; // Base import filename
$bd_import: 'betterdiscord.css'; // BetterDiscord's import filename
$vc_import: 'vencord.css'; // Vencord's import filename
