@use 'backend' as *;

// TITLE
#{c(title bar)} {
  background-color: transparent;
  padding-left: 0;
}
#{c(title leading container)} {
  gap: 0;
  margin: 0 6px;
}

// NomadNexus: remove leading pseudo-elements and fieldset borders
[class*='leading_'] {
  &::before,
  &::after {
    display: none;
  }
}
fieldset {
  border: none;
}
