// SPDX-License-Identifier: Apache-2.0
// Copyright 2026 Colin Chang. Based on ClearVision v7 by ClearVision Team (Apache-2.0).
@use 'backend' as *;

#{c(membersPage page)} {
  background: transparent !important; // discord styles has !important
}
#{c(membersPage tableContainer)} {
  background: cv('shading.card');
  border: none;
}
#{c(membersPage newMemberNotice)} {
  background: cv('color.main');
  &:hover {
    background: cv('color.hover');
  }
}
#{c(membersPage otherRoles)} {
  background: cv('shading.cardAlt');
}