// SPDX-License-Identifier: Apache-2.0
// Copyright 2026 Colin Chang. Based on ClearVision v7 by ClearVision Team (Apache-2.0).
@use 'backend' as *;

#{c(modals addServer optionContainer)} {
  border: 2px solid transparent;
  background: cv('shading.cardAlt');
  &:hover {
    border-color: cv('color.hover');
  }
}

// PLUS ICON
#{c(modals addServer customiseIconContainer)} {
  circle {
    fill: cv('color.main');
  }
}

// Don’t have an invite?
#{c(modals addServer joinServerRowContainer)} {
  border: 2px solid transparent;
  background: cv('shading.cardAlt');
  &:hover {
    border-color: cv('color.hover');
    background: cv('shading.cardAlt');
  }
}
