// SPDX-License-Identifier: Apache-2.0
// Copyright 2026 Colin Chang. Based on ClearVision v7 by ClearVision Team (Apache-2.0).
@use 'backend' as *;

// TIMEOUT
#{c(modals timeout selectorButton)} {
  background: cv('shading.cardAlt');
}
:is(#{c(main themeLight)}, #{c(main themeDark)}) {
  #{c(modals timeout item)} {
    border-color: cv('color.main');
  }
}
#{c(modals timeout selectorButtonSelected)}{
  background: cv('color.main');
}