// SPDX-License-Identifier: Apache-2.0
// Copyright 2026 Colin Chang. Based on ClearVision v7 by ClearVision Team (Apache-2.0).
@use 'backend' as *;
#{c(modals screenshare footer)} {
  background: transparent;
}

#{c(modals screenshare pillContainer)} {
  background: cv('shading.cardAlt');
}
#{c(modals screenshare pillItemSelected)} {
  background: cv('color.main');
}
