@use 'backend' as *;

// NomadNexus: frosted glass tooltips
#{c(tooltips primary)} {
  @include glass;
  #{c(tooltips pointer)} {
    border-top-color: cv('glass.bg');
    &::before,
    &::after {
      display: none;
    }
  }
}

#{c(tooltips brand)} {
  background-color: cv('color.main');
  border: none;
  #{c(tooltips pointer)} {
    border-top-color: cv('color.main');
  }
}
